
header {
    margin: 0 auto;}
.menu {
background-color: #03d;
height: 78px;
width: max-content;
margin: 0 auto;

}
li {
float:left;
list-style: none;
margin:10px;
padding:10px;}
a {
    color: #fff;
    font-size: 30px;}


footer{
    background-color: blue;
    align-content: center;
    height: 100px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    clear: both;

    
}

p{
    text-align: center;
}
#p4{
    text-align: left;
    position: fixed;
    top: 10px;

    
}
#p5{
    text-align: right;
    position: fixed;
    top: 20px;
    right:10px;
}
#p6{
    text-align: right;
    position: fixed;
    top: 40px;
    right:10px;
    
}
#p7{
    text-align: right;
    position: fixed;
    top: 60px;
    right:10px;
}
input{
    text-align: left;
    position: fixed;
    top: 60px;
}
button{
    position: fixed;
    top:60px;
    left: 280px;
}


