body {
    width: 1300px;
}
header {
    margin: 0 auto;}
.menu {
background-color: #03d;
height: 78px;
width: max-content;
margin: 0 auto;

}
li {
float:left;
list-style: none;
margin:10px;
padding:10px;}
a {
    color: #fff;
    font-size: 30px;}
